<% content_for :body_class, 'login-page' %>

<div class="map-background">

</div>

<center>
  <div class="form-row register">
    <div class="login-fields">
      <h1 class = "logo register">Sign Up</h1>
<div class = "first_step">

<%= form_for @user do |f|%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <button class="next">Next</button>
</div>

<div class = "second_step">
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :pet_peeves %>
    <%= f.text_field :pet_peeves %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, :maxlength =>10, :placeholder => "5555555555" %>
  </div>
  <div class="field">
    <%= f.label :fsa %>
    <%= f.collection_select :fsa_id, Fsa.order('name ASC').all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :keep_profile_private %>
    <%= f.check_box :privacy, {}, "true", "false" %>
  </div>
  <div id = "create_user_part_2">
  <%= f.submit %>
  </div>
<%end %>
</div>
</div>
</div>
</center>


  <% if @user.errors.any?  %>

  <h1> Error </h1>
  <div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>
</row>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initFirstMap&libraries=geometry"
async defer></script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // var mapWrapper = document.createElement('div');
    var paddedMap = document.querySelector('.padded-map');
    // paddedMap.style.visibility = "hidden";
    // mapWrapper.className="map_wrapper";
    // mapWrapper.appendChild('padded-map');
    $('.map-background').append(paddedMap);
  });
</script>

</div>

<!-- ========== Google Maps ============== -->
  <div class="padded-map">
    <div id="map"></div>
  </div>
